/*******************************/
/***  ViewVC CSS Stylesheet ***/
/*******************************/

/*** Standard Tags ***/
body {
  background-color: white;
  color: black;
  font-family: Tahoma, "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 0.69em;   
  line-height: 1.125;
  margin: 0;
}

a { 
  text-decoration: none; 
  color: rgb(30%,30%,60%); 
}
img { border: none; }
table {
  margin: 0; 
  border: none;
}
td, th { 
  vertical-align: top; 
}
th { white-space: nowrap; }
table.auto {
  width: auto;
}
table.fixed {
  width: 100%;
  table-layout: fixed;
}
table.fixed td {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
form { margin: 0; }
address { font-style: normal; display: inline; }
.inline { display: inline; }

/*** Icons ***/
.vc_icon {
  width: 16px;
  height: 16px;
  border: none;
  padding: 0 1px;
}

#vc_header {
  padding: 0 0 10px 0;
}

#vc_logo {
  padding: 8px 10px;
}

#vc_masthead {
  background: #6d92b5 url('images/branding/banner_bgSlice.gif') repeat-y;
  height: 60px;
  border-bottom: 12px solid #ccc;
}

#vc_topmatter {
  color: white;
  float: right;
  padding: 8px 10px;
  text-align: right;
}

#vc_admin {
  padding: 0 0 10px 0;
  text-align: right;
}

#vc_footer {
  border-top: 2px solid #efefef;
  padding-top: 10px;
}

#vc_subview_selection_group {
  border-color: white;
  border-style: solid;
  border-width: 1px 2px;
  margin: 0 0 5px 0;
}

#vc_subview_selection_group table {
  width: auto;
}

#vc_subview_selection_group td {
  padding: 5px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid black;
  color: black;
  text-align: center;
  line-height: 1.25em;
}

#vc_subview_selection_group td a {
  color: black;
  text-decoration: none; 
}

#vc_subview_selection_group td.vc_view_link_this {
  font-weight: bold;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 0px solid white;
  border-color: black;
}

#vc_subview_selection_group td:hover {
  background-color: #9bd;
}


#vc_view_selection_group {
  background: #cde url('images/branding/top_gradient.gif') repeat-x;
  border-color: white;
  border-style: solid;
  border-width: 1px 2px;
  margin: 0 0 5px 0;
}

#vc_view_selection_group table {
  width: auto;
}

#vc_view_selection_group td {
  padding: 5px;
  border-right: 1px solid white;
  color: black;
  text-align: center;
  width: 0.75in;
  line-height: 1.25em;
}

#vc_view_selection_group td img {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

#vc_view_selection_group td a {
  color: black;
  text-decoration: none; 
}

#vc_view_selection_group td.vc_view_link_this {
  font-weight: bold;
  background: white;
}

#vc_view_selection_group td:hover {
  background-color: #9bd;
}

#vc_current_path {
  padding-left: 5px;
  font-weight: bold;
}

#vc_current_path a:hover {
  background-color: #cde;
}


#vc_current_path .pathdiv {
  padding: 0 0.1em;
}

#vc_view_main {
  padding-left: 5px;
}

#vc_togglables a {
  color: #888;
}

#vc_togglables {
  text-align: right;
  margin-top: -1.6em
}

#vc_main_body {
  background: white;
  padding: 5px 5px 20px 5px;
}

#vc_view_summary {
  text-align: right;
  margin-top: 5px;
}


/*** Table Headers ***/
.vc_header, .vc_header_sort {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid black;
  background-color: rgb(80%,80%,80%);
}
.vc_header_sort {
  background-color: rgb(85%,85%,85%);
}


/*** Table Rows ***/
.vc_row_even {
  background-color: #fefefe; 
}

.vc_row_odd {
  background-color: #f2f2f2;
}

tr.vc_row_odd:hover, tr.vc_row_even:hover, tr.vc_row_odd:hover td, tr.vc_row_even:hover td {
  background-color: #d8eeff;
}

/*** Directory View ***/
#dirlist td, #dirlist th {
  padding: 0.2em;
  vertical-align: middle;
}
#dirlist tr:hover {
  background-color: white;
}

#dirlist {
  border-collapse: collapse;
  border: 1px solid #d4d2d0;
  border-top: none;
  border-right: none;
}

#dirlist tr.table_header td {
  border-collapse: collapse;   
  background: #ace url("/viewvc-static/images/branding/containerheader_bg.gif") repeat-x;
  border: 1px solid #ace;
  border-top: 1px solid #69c;  
  padding: 3px 5px;
  font-size: 1.27em;
  font-weight: bold;
}

.vc_table tr.column_header td {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #c4c2c0;
  padding: 2px;
  font-weight: bold;
}
.vc_table tr.column_header {
  color: #333;
  background-color: #e5e5e5;
  padding: 2px;
}

.vc_table tr.column_header img {
  float: right;
  margin: 2px;
}


/*** Log messages ***/
.vc_log {
  font-size: 1.4em;
  /* unfortunately, white-space: pre-wrap isn't widely supported ... */
  white-space: -moz-pre-wrap; /* Mozilla based browsers */
  white-space: -pre-wrap;     /* Opera 4 - 6 */
  white-space: -o-pre-wrap;   /* Opera >= 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}


/*** Properties Listing ***/
.vc_properties {
  margin: 1em 0;
}
.vc_properties h2 {
}
.vc_properties td, .vc_properties th {
  padding: 0.2em;
}


/*** File Content Markup Styles ***/
.vc_summary {
  background-color: #eeeeee;
}
#vc_file td {
  border-right-style: solid;
  border-right-color: #505050;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  padding: 1px 5px;
}
.vc_file_line_number {
  border-right-width: 1px;
  background-color: #eeeeee;
  color: #505050;
  text-align: right;
}
.vc_file_line_author, .vc_file_line_rev {
  border-right-width: 1px;
  text-align: right;
}
.vc_file_line_text {
  border-right-width: 0px;
  background-color: white;
  font-family: monospace;
  font-size: 1.4em;
  text-align: left;
  white-space: pre;
  width: 100%;
}
.pygments-c { color: #408080; font-style: italic } /* Comment */
.pygments-err { border: 1px solid #FF0000 } /* Error */
.pygments-k { color: #008000; font-weight: bold } /* Keyword */
.pygments-o { color: #666666 } /* Operator */
.pygments-cm { color: #408080; font-style: italic } /* Comment.Multiline */
.pygments-cp { color: #BC7A00 } /* Comment.Preproc */
.pygments-c1 { color: #408080; font-style: italic } /* Comment.Single */
.pygments-cs { color: #408080; font-style: italic } /* Comment.Special */
.pygments-gd { color: #A00000 } /* Generic.Deleted */
.pygments-ge { font-style: italic } /* Generic.Emph */
.pygments-gr { color: #FF0000 } /* Generic.Error */
.pygments-gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygments-gi { color: #00A000 } /* Generic.Inserted */
.pygments-go { color: #808080 } /* Generic.Output */
.pygments-gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pygments-gs { font-weight: bold } /* Generic.Strong */
.pygments-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygments-gt { color: #0040D0 } /* Generic.Traceback */
.pygments-kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.pygments-kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.pygments-kp { color: #008000 } /* Keyword.Pseudo */
.pygments-kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.pygments-kt { color: #B00040 } /* Keyword.Type */
.pygments-m { color: #666666 } /* Literal.Number */
.pygments-s { color: #BA2121 } /* Literal.String */
.pygments-na { color: #7D9029 } /* Name.Attribute */
.pygments-nb { color: #008000 } /* Name.Builtin */
.pygments-nc { color: #0000FF; font-weight: bold } /* Name.Class */
.pygments-no { color: #880000 } /* Name.Constant */
.pygments-nd { color: #AA22FF } /* Name.Decorator */
.pygments-ni { color: #999999; font-weight: bold } /* Name.Entity */
.pygments-ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.pygments-nf { color: #0000FF } /* Name.Function */
.pygments-nl { color: #A0A000 } /* Name.Label */
.pygments-nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.pygments-nt { color: #008000; font-weight: bold } /* Name.Tag */
.pygments-nv { color: #19177C } /* Name.Variable */
.pygments-ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.pygments-w { color: #bbbbbb } /* Text.Whitespace */
.pygments-mf { color: #666666 } /* Literal.Number.Float */
.pygments-mh { color: #666666 } /* Literal.Number.Hex */
.pygments-mi { color: #666666 } /* Literal.Number.Integer */
.pygments-mo { color: #666666 } /* Literal.Number.Oct */
.pygments-sb { color: #BA2121 } /* Literal.String.Backtick */
.pygments-sc { color: #BA2121 } /* Literal.String.Char */
.pygments-sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.pygments-s2 { color: #BA2121 } /* Literal.String.Double */
.pygments-se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.pygments-sh { color: #BA2121 } /* Literal.String.Heredoc */
.pygments-si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.pygments-sx { color: #008000 } /* Literal.String.Other */
.pygments-sr { color: #BB6688 } /* Literal.String.Regex */
.pygments-s1 { color: #BA2121 } /* Literal.String.Single */
.pygments-ss { color: #19177C } /* Literal.String.Symbol */
.pygments-bp { color: #008000 } /* Name.Builtin.Pseudo */
.pygments-vc { color: #19177C } /* Name.Variable.Class */
.pygments-vg { color: #19177C } /* Name.Variable.Global */
.pygments-vi { color: #19177C } /* Name.Variable.Instance */
.pygments-il { color: #666666 } /* Literal.Number.Integer.Long */


/*** Diff Styles ***/
.vc_diff_plusminus { width: 1em; }
pre, .vc_diff_remove, .vc_diff_add, .vc_diff_changes1, .vc_diff_changes2, .vc_diff_context { 
  font-family: monospace; 
  font-size: 1.4em;
  white-space: pre; 
}
.vc_diff_remove { background: rgb(100%,60%,60%); }
.vc_diff_add { background: rgb(60%,100%,60%); }
.vc_diff_changes1 { background: rgb(100%,100%,70%); color: rgb(50%,50%,50%); text-decoration: line-through; }
.vc_diff_changes2 { background: rgb(100%,100%,0%); }
.vc_diff_nochange, .vc_diff_binary, .vc_diff_error {
  font-family: sans-serif;
}

/*** Intraline Diff Styles ***/
.vc_idiff_add {
  background-color: #aaffaa;
}
.vc_idiff_change {
  background-color:#ffff77;
}
.vc_idiff_remove {
  background-color:#ffaaaa;
}
.vc_idiff_empty {
  background-color:#e0e0e0;
}

table.vc_idiff col.content { 
  width: 50%;
}
table.vc_idiff tbody {
  font-family: monospace; 
  font-size: 1.4em;
  /* unfortunately, white-space: pre-wrap isn't widely supported ... */
  white-space: -moz-pre-wrap; /* Mozilla based browsers */
  white-space: -pre-wrap;     /* Opera 4 - 6 */
  white-space: -o-pre-wrap;   /* Opera >= 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}
table.vc_idiff tbody th {
  background-color:#e0e0e0;
  text-align:right;
}


/*** Query Form ***/
.vc_query_form {
}


/*** Admonishments ***/
.vc_notice {
  border-width: 1px 2px 2px 2px;
  border-color: black;
  border-style: solid;
  background-color: yellow;
  color: black;
  padding: 0.5em;
}
.vc_warning {
  border-width: 1px 2px 2px 2px;
  border-color: black;
  border-style: solid;
  background-color: red;
  color: white;
  padding: 0.5em;
}


/*** CSVN additions ***/

.vc_sortarrow {
  vertical-align: top;
}

img { border: none; }

hr { 
  color: #ccc;
  background-color: #ccc;
  border: 0;
  margin-right: 5px;
}

table.vc_table {
  width: 100%;
  margin: 0; 
  border: none;
}
table.auto {
  width: auto;
}
table.fixed {
  width: 100%;
  table-layout: fixed;
}
table.fixed td {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.vc_table tr, table.vc_table td, table.vc_table th { vertical-align: top; }
table.vc_table th { white-space: nowrap; }
form { margin: 0; }

#poweredbylogo {
  float: left;
  padding: 0 22px 15px 0;
}

